/* 
    Font Styles:
    Roboto 400, 500;
    Raleway 700;
*/

:root {
    --color-accent: #2196F3;
    --color-text: #757575;
    --color-headlight: #212121;
    --color-antiaccent: white;
    --color-line: #ECECEC;
    --color-footback: #2F303A;
    --color-antifootback: rgba(255, 255, 255, 0.6);
    --color-team: #F5F4FA;
    --left: 215px;
}

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
}

address {
    font-style: unset;
}

*:visited {
    color: unset;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text);
}


/* header */

.head * {
    display: inline-block;
}

.head {
    width: 1600px;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-headlight);
    border: 1px solid var(--color-line);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-headlight);
}

.logo>span {
    color: var(--color-accent);
}

.head .logo {
    padding: 24px 0 0 var(--left);
    margin-right: 93px;
}

.head-nav {
    width: 50%;
}

.head-nav .item {
    margin-right: 50px;
}

.item.last {
    margin: 0;
}

.head-addr {
    padding-left: 328px;
    color: var(--color-text);
}

.head-addr a.first {
    margin-right: 50px;
}


/* footer */

footer {
    height: 252px;
    background: var(--color-footback);
}

footer .logo {
    color: var(--color-antiaccent);
    margin: 0 0 20px 0;
}

footer div {
    padding: 60px 0 0 var(--left);
}

footer a {
    display: block;
    margin: 0 0 9px 0;
    color: var(--color-antifootback);
}

footer .first {
    color: var(--color-antiaccent);
}

footer .last {
    margin: 0;
}


/* Reaction */

a:hover,
a:focus,
a.logo:hover,
a.logo:focus {
    color: var(--color-accent);
}